section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

li {
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #555;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav button {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    background-color: #b830c7;
    cursor: pointer;
    border: #000000 2px solid;
    font-family: Arial, sans-serif;
    border-radius: 12px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}